<!-- Content Section -->
<div class="container-fluid border-bottom border-white">
    <div class = "row mb-5 text-center">
        <h3 class = "mb-5 grid-header ">How It Works</h3> 
        <div class = "col-sm-6 col-md-3 text-white mb-5 h4" >
                <img class = "image-fluid grid-img" alt = "receipt" src="/image/grid-receipe.jpg">
                1: We create authentic recipe
        </div>


        <div class = "col-sm-6 col-md-3 text-white mb-5 h4" >
                <img class = "image-fluid grid-img" alt = "search" src="/image/grid-search.png">
                2: Choose your preferences
        </div>



        <div class = "col-sm-6 col-md-3 text-white mb-5 h4" >
                <img class = "image-fluid grid-img" alt = "delivery" src="/image/grid-delivery.jpg">
                3: We make a fast delivery
        </div>
        
        <div class = "col-sm-6 col-md-3 text-white mb-5 h4">
                <img class = "image-fluid grid-img" alt = "food" src = "/image/food.jpg">
                4: Enjoy your cook
        </div>

    </div>
</div> 
