<div id = "footer" style = "background-color: #F8BE50">
        <div class="container-fluid text-center border-bottom border-white">
            <div class = "row mb-5">
                <div class="col-md-4">
                    <p class = "grid-item3-header">Navigation<p>
                    <div><a href="/">Home</a></div>
                    <div><a href="/menu">Menu</a></div>
                </div>
                <div class="col-md-4">
                    <p class = "grid-item3-header">Contact</p>
                    <div><a href="mailto:byu39@myseneca.ca">Email:byu39@myseneca.ca</a></div>
                </div>
                <div class="col-md-4">
                    <p class = "grid-item3-header">Social Media</p>
                    <div>
                    <a href="https://www.instagram.com/fishballandcookie/" class="fa-brands fa-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
</div>
        <footer style= "background-color: rgb(80, 45, 1)">Copyright &copy Fall 2022, Binwei Yu, WEB322</footer>
    <hr />

