<!-- A hero -->

<div class="hero-image border-bottom border-white">
    <img id = "hero" src="/image/hero.jpg" alt="hero image">
    <div class="hero-text">
        <p id = "slogan"> ♨️Get fresh ingredient for your authentic asian food♨️</p>
        <!-- <button>Get Started</button> -->
    </div>
</div>
