<nav id = "navigation" class = "border-bottom">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <div id = "buttons">
            <a href="/login"><button id = "signIn">Sign In</button></a>
            <a href="/signUp"><button id = "signUp">Sign Up</button></a>
        </div>
    </ul>
</nav>
