<div class="col-md-8 container-md signIn my-5">
    {{#if user}}
    <h1 class="text-center fw-bolder text-white">Welcome, {{user.first_name}}</h1>
    {{/if}}
    <p class="h3 text-white text-center mx-5">This is the meal-kit list dashboard</p>
    <br>



    <div class="d-grid gap-2">
        <a class="btn btn-warning" href="/" role="button">Go back to home page</a>
        <a class="btn btn-warning" href="/clerk/add-mealkit" role="button">Add a new meal kit</a>


    <!--category level-->
    {{#each myMenu}}
    <div class="row mb-5">
        <h1 class="text-center text-white">{{this.categoryName}}</h1>
        <!--object level-->
        {{#each this.mealKit}}

        {{>mealkit card = this menuCard = true clerk = true}}

        {{/each}}

    </div>
    {{/each}}
    </div>
    <br>

  



</div>


