
<div class="container-xl mb-3">


    <!--category level-->
    {{#each myMenu}}
    <div class = "row mb-5">
    <h1 class = "text-center text-white">{{this.categoryName}}</h1>
    <!--object level-->   
    {{#each this.mealKit}}
        {{>mealkit card = this menuCard = true}}
    {{/each}}


    </div>
    {{/each}}




    </div>
</div>
