<form class = "container-md" action="/action_page.php">
  <div class = "col-md-8 container-md signIn my-5" >
  <!-- mb3: margin bottom size 3, mt3: margin top size 3 -->

  
  <h1 class="text-center fw-bolder">Welcome Back</h1>

  <div class="mb-3 mx-5"> 
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control " id="email" placeholder="Enter email" name="email">
  </div>

  <div class="mb-5 mx-5">
    <label for="pwd" class="form-label">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div>
  
  <div class="d-grid">
    <button type="submit" class="btn btn-warning mb-5 mx-5">Log In</button>
  </div>

  </div>
</form>