
<div class = "col-md-8 container-md signIn my-5" >
    <h1 class="text-center fw-bolder text-white">WELCOME</h1>
    <p class = "h3 text-white mx-5">You have successfully registered an account for our website, and we have sent a verification message to your email, please check your email!</p>
    <br>


    <div class="d-grid gap-2">
        <a class="btn btn-warning" href="/" role="button">Go back to home page</a>
        <a class="btn btn-warning" href="/login" role="button">Go to sign in page</a>
    </div>
    <br>
</div>