<div class="col-md-8 container-md signIn my-5">
    {{#if user}}
    <h1 class="text-center fw-bolder text-white">Welcome, {{user.first_name}}</h1>
    {{/if}}
    <p class="h3 text-white mx-5">this is a customer cart page, it will be implemented with a customer dashboard page in the future</p>
    <br>


    <div class="d-grid gap-2">
        <a class="btn btn-warning" href="/" role="button">Go back to home page</a>
        <a class="btn btn-warning" href="/user/login" role="button">Go to sign in page</a>
    </div>
    <br>
</div>